div{
    border-collapse: collapse;
    border : 0.5px solid blue;
}
/******top******/
.topnav{
    width : 100%;
    height: 60px;
    position : absolute;
    top : 0;
    left : 0;
    background-color: gray;
}
.topnav>h1{
    padding: 10px;
    display: block;
    text-align : left;
}

/******left******/
#leftbg{
    box-sizing:border-box;
    width: 200px;
    position: absolute;
    top : 100px;
    left : 10px;
}
#subject_groups{
    text-align: left;
    border-collapse: collapse;
}
#subject_groups>table{
    border-top: 1px solid #444444;
}
#subject_groups>th, td{
    border-bottom: 1px solid #444444;
}
#timetable_helper{
    margin-left: auto;
    margin-right: auto;
}

/******center******/
#centerbg{
    position: absolute;
    top: 100px;
    left: 250px;
}
#main_timetable{
    margin: 30px;
}
#main_timetable> table, th, td{
    border:0.5px solid gray;
    border-collapse: collapse;
}
#main_timetable>td{
    height: 20px;
    text-align: right;
    vertical-align: top;
}
#main_timetable> th{
    width: 60px;
    height: 40px;
}
#mt_0{
    width: 20px;
}

#selected_timetable{
    border-collapse: collapse;
    border:2px solid darkgray;
}
#selected_timetable>table{
    margin: 10px;
    border-collapse: collapse;
    border:0.5px solid #444444;
}
#selected_timetable>th, td{
    height: 10px;
    width : 15px;
    border-collapse: collapse;
    border:0.5px solid #444444;
}
/******right******/
#rightbg{
    position: absolute;
    top: 100px;
    left: 900px;
    box-sizing : border-box;
    width : 500px;
}
.timetables> table{
    margin: 2px;
    border-collapse: collapse;
    border:0.5px solid #444444;
}
.timetables> th, td{
    height: 8px;
    width : 12px;
    border-collapse: collapse;
    border:0.5px solid #444444;
}

