/*
div{
    border-collapse: collapse;
    border : 0.5px solid blue;
}
*/
/******top******/
.topnav{
    width : 100%;
    position : absolute;
    top : 0;
    left : 0;
    background-color: gray;
}
.topnav>h1{
    margin: 20px;
    display: block;
    text-align : left;
}

/******left******/
#leftbg{
    box-sizing:border-box;
    width: 200px;
    position: absolute;
    top : 100px;
    left : 10px;
}
#subject_groups{
    text-align: left;
}
#subject_groups> h4{
    background-color: slategray;
}
#subject_groups> li{
    border-bottom: 1px solid #444444;
    border-collapse: collapse;
}
#timetable_helper{
    position: relative;
    left : 50px;
}

/******center******/
#centerbg{
    position: absolute;
    top: 100px;
    left: 250px;
}
#main_timetable{
    margin: 30px;
}
#main_timetable> table, th, td{
    border:0.5px solid gray;
    border-collapse: collapse;
}
#mt_0{
    width: 40px;
    height: 20px;
}
.mts{
    width: 60px;
    height: 20px;
}
#main_timetable>td{
    height: 40px;
    text-align: left;
    /*vertical-align: top;*/
}

#selected_timetable{
    display: inline;
    border-collapse: collapse;
    border:2px solid darkgray;
}
#selected_timetable>table{
    margin: 10px;
    border-collapse: collapse;
    border:0.5px solid #444444;
}
#selected_timetable>th, td{
    height: 10px;
    width : 15px;
    border-collapse: collapse;
    border:0.5px solid #444444;
}
/******right******/
#rightbg{
    position: absolute;
    top: 100px;
    left: 800px;
    box-sizing : border-box;
    width : 500px;
}
.timetables{
    display: inline;
}
.timetables> table{
    margin: 2px;
    border-collapse: collapse;
    border:0.5px solid #444444;
}
.timetables> th, td{
    height: 8px;
    width : 12px;
    border-collapse: collapse;
    border:0.5px solid #444444;
}

