/******header******/
.header{
    width : 100%;
    height: 80px;
    margin : 0;
    padding : 0;
    border-bottom : 1px solid black;
}
.header>h1{
    margin : 0;
    padding : 8px 0;
    display: block;
    text-align : center;
}

/******container******/
.container{
    margin: 8px auto;
    width : 1080px;
    height : auto;
    text-align : left;
    overflow : hidden;
}

.timetable{
    border:0.5px solid gray;
    border-collapse: collapse;
}
/******leftContainer******/
.leftColumn{
    float: left;
    width : 600px;
}
#groupList{
    float: left;
    text-align: center;
    width : 130px;
    border: 1px solid black;
    box-sizing : border-box;
    margin : 4px;
    border-collapse: collapse;
    font-size : 15px;
}
#groupList>table{
    border-collapse: collapse;
    width : 100%;
}
#groupList>button{
    width : 100%;
}

#showTimetable{
    float: right;
    margin : 4px;
}

.bigTimetable{
    width : 450px;
    height: 540px;
    border:1px solid black;
    border-collapse: collapse;
    text-align : center;
}
.bigTimetable th{
    font-size : 12px;
    text-align : center;
    border : 1px solid black;
    width : 20px;
    height : 20px;
} 
.bigTimetable td{
    font-size : 14px;
    width : 80px;
    height : 60px;
}
.bottomColumn{
    clear : both;
    width : 100%;
    padding: 8px 0;
    overflow:hidden;
}
#firstPick{
    margin : 0 4px;
    border: 1px solid black;
    background-color : grey;
    padding : 8px;
    float : left;
}
#selectedTimetables{
    margin : 0 4px;
    box-sizing : border-box;
    width : 450px;
    float : right;
    padding : 8px;
    border: 1px solid black;
    overflow : auto;
    background-color : darkgrey;
}
#selectedTimetables>table{
    margin-right: 5px;
    float: left;
}

#selectedTimetables>th, td{
    height: 10px;
    width : 15px;
    border-collapse: collapse;
    border:0.5px solid #444444;
}
/******rightContainer******/
.rightColumn{
    float : right;
    width : 460px;
}
#showResults{
    margin : 4px 0;
    padding : 0 4px;
    box-sizing : border-box;
    overflow: auto;
    width : 100%;
    border : 1px solid black;
}
#showResults > table{
    float: left;
    margin : 4px;
    border-collapse: collapse;
    border: 1px solid black;
}
#showResults> th, td{
    height: 8px;
    width : 12px;
    border-collapse: collapse;
    border:0.5px solid #444444;
}
#filter{
    margin : 4px 0;
    float:right;
    margin-right: 8px; 
}
#conditionsList{
    float:left;
    margin : 4px 0;
    font-size : 14px;
    border : 1px solid black;
    box-sizing : border-box;
    overflow : auto;
    height : 100px;
    width : 390px;
}
#conditionsList>ul{
    margin: 4px auto;
}
#addCondition{
    box-sizing:border-box;
    overflow: hidden;
    padding: 8px;
    width : 100%;
    clear : both;
    font-size : 14px;
}

#addCondition > form{
    clear:both;
    float: right;
    text-align : left;
}
.checkboxes{
    border : 1px solid black;
    display: inline-block;
    width : 80px;
    height : 21px;
    overflow-y: scroll;
    font-size: 12px;
    background-color : white;
}
#addCondition > form > input{
    width : 75px;
}
#addCondition > form > input[type =submit]{
    width : 50px;
}
